.blue{
    background:url('../../../assets/EllipseBlue.png');
}
.beige{
    background:url('../../../assets/EllipseBeige.png');
}
.green{
    background:url('../../../assets/EllipseGreen.png');
}
.purple{
    background:url('../../../assets/EllipsePurple.png');
}
.circle{
    background-color: #80ABF9;
    border-radius: 100%;
    border: 31px solid #464141;
    width: 311px;
    height: 311px;
    margin: auto;
    
    background-size: cover;
}
hr{
    width: 28px;
    margin-bottom: 32px;
}
h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48.92px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0px;
}
  
  
  
  