.image-ref{
    position: relative;
}

img{
    width: 310px;
    height: 174px;
    object-fit: cover;
}
.contain{
    object-fit: contain;
}
p{
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #354564;
}
.chip{
    color: #FFF;
    padding: 4px 8px;
    position: absolute;
    bottom: 16px;
    left: 16px;
    background: rgba(12, 12, 12, 0.7);
    border-radius: 500px;
}