<div class="flex-center" >
    <div class="module-container">
        <div class="row">
                <app-module-access 
                    [name]="'Material didático'" 
                    [path]="'assets/StudyBook.png'"
                    [color]="'blue'"
                ></app-module-access>
                <app-module-access 
                    [name]="'Quiz'" 
                    [path]="'assets/Medal.png'"
                    [color]="'green'"
                ></app-module-access>
                <app-module-access 
                    [name]="'Desenho'" 
                    [path]="'assets/Paint.png'"
                    [color]="'purple'"
                ></app-module-access>
                <app-module-access 
                    [name]="'Youtube'" 
                    [path]="'assets/Youtube.png'"
                    [color]="'beige'"
                ></app-module-access>
        </div>
    </div>
</div>